.jumbo {
  background: url("/header.jpg")  center ;
  background-size: cover;
  min-height: 45vh;

}

.jumbo .content {
  text-align: center;
  background: rgba(5, 5, 5, 0.692);
  color: rgb(92, 191, 221);
  margin-top: 5%;
}
